#nav-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#nav-brand span {
    margin-left: 0.3rem;
    letter-spacing: 0.1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 1.7rem;
    color: #e34329;
}

.nav-link-btn {
    font-size: 1rem !important;
    color: #000 !important;
}