.society-card {
    max-height: 150px;
    padding: 1rem 0;
    display: flex;
    text-decoration: none;
    transition: background-color 250ms;
}

.society-card-img {
    width: 20%;
    padding: 0 1rem;
}

.society-card-body {
    width: 80%;
    padding: 0 1rem;
    max-height: 200px;
    overflow: hidden;
}

.society-card-title, .society-card-description {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    text-decoration: none;
}

.society-card-title {
    -webkit-line-clamp: 1;
}

.society-card-description {
    -webkit-line-clamp: 4;
    font-size: small !important;
}

.society-categories {
    width: 100%;
}

.society-categories .group-nested {
    padding-left: 1.3rem;
}

.society-categories .group-nested button {
    font-size: 0.8rem;
}

.society-categories button {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    justify-content: left;
    text-align: left;
}

.society-no-results {
    width: 100%;
    text-align: center;
}

.no-decor {
    text-decoration: none !important;
}