.react-datepicker__close-icon::after {
    background-color: transparent !important;
    color: rgb(127, 127, 127) !important;
    font-size: 24px !important;
}

@media only screen and (max-width: 899.5px) {
    .date-range-group {
        margin-top: 20px;
    }
}